<h1>Pagina#index</h1>
<p>Find me in app/views/pagina/index.html.erb</p>

<div data-controller="hello"></div>

<div data-controller="ola" data-ola-nome-value="Zulano">
  <input type="text" data-action="keyup->ola#mudarTexto">
  <p data-ola-target="texto"></p>
</div>
